.tiles .tile-desc p.tile-name[data-found="true"] {
  display: flex;
  justify-content: space-between;
}

i svg {
  width: 1em;
  fill: currentColor;
}

i:has(svg) {
  display: flex;
}

.fadeoff {
  display: none;
}

.subnav ul.sublist {
  display: flex;
  flex-direction: column;
}
